*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato, sans-serif";
}
/* body {
  -webkit-font-smoothing: antialiased;
  color: #232323;
} */
.navi{
  transition: all 0.3s ease-in-out;
}
.navi:hover {
  color: #960202;
}

section.hero {
  background: #F8F8F8;
  height: fit-content;
}
.size {
  background: #F8F8F8;
  font-size: 11px;
  font-weight: 500;
  border-radius: 30px;
}
.add-to-cart {
  border: 2px solid #960202;
  color: #960202;
  transition: all 0.3s ease-in-out;
  background-color: white;
  z-index: 1;
  border-radius: 30px;
}
.add-to-cart:hover {
  background-color: #960202;
  border-color: #fff;
  color: #fff;
}
.naming
{
  font-weight: 400;
  font-size: large;
}
.btn-primarys {
  background: #960202;
  /* margin-bottom: 40px; */
}
.btn-primarys:hover {
  background: #b23301;
  transition: all 0.3s ease-in-out;
}
.dontWait
{
  font-size: 30px;
  font-weight: 800;
}
.pizza-list
{
  width: 90%;
}
.head
{
  font-size: x-large;
}
section.cart {
  background: #F8F8F8;
}
section.cart .amount {
  color: #960202;
}

section.login {
  background: #F8F8F8;
  min-height: 100vh;
}

@media screen and (max-width: 1060px) {
  .res {
    max-width: 90%;
  }
}

@media screen and (min-width: 600px)
{
  .pi_list
  {
    width: 50% !important;
  }
  .tagline
{
  margin-left: 100px;
}
.dontWait
{
  font-size: 60px;
}
.hero
{
  height: 85vh;
}
.lol
{
  max-width: 15%;
}
.cimg
{
  max-width: 30%;
}
}
